@font-face {
  font-family: brandonBold;
  src: url(brandon-bold.otf); }

body {
  background: #c5c780 url(texture-light.png);
  background-size: 500px 500px;
  color: #FFF;
  margin: 0;
  padding: 0;
  font-family: brandonBold; }

h1, h2, p {
  padding: 0 0 0 5%; }

h1 {
  text-transform: uppercase;
  background: #33414f url(texture.png);
  background-size: 500px 500px;
  margin: 0 0 40px 0;
  padding: 70px 0 70px 5%;
  letter-spacing: 0.1em;
  position: relative;
  text-shadow: 2px 2px 2px #000; }
