@font-face {
  font-family: brandonBold;
  src: url(../fonts/brandon-bold.otf); }

@font-face {
  font-family: house;
  src: url(../fonts/house.ttf); }

@font-face {
  font-family: chaparral;
  src: url(../fonts/chaparral.otf); }

@font-face {
  font-family: housecasual;
  src: url(../fonts/housecasual.ttf); }

body {
  background: #EEE; }

.page {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

a {
  color: blue;
  text-decoration: none;
  border-bottom: 1px solid blue; }
  a[href^="https://www.google.com"] {
    border: none; }

h1 {
  font-family: housecasual, Helvetica, serif;
  font-size: 75px;
  text-shadow: 0 3px #fff; }

h2 {
  margin: 200px 0 5px 0;
  font-family: brandonBold, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative; }
  h2::before {
    content: "";
    width: 550px;
    height: 30px;
    background: url(../images/hr.png);
    position: absolute;
    margin: 0 0 0 -275px;
    top: -120px;
    left: 50%;
    opacity: 0.2; }

h3 {
  margin: 0 0 10px 0;
  font-family: brandonBold, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em; }
  h3 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.2);
    border: none; }
    h3 a:hover {
      color: #000; }

article {
  font-family: chaparral, Georgia, serif;
  font-size: 18px;
  line-height: 1.6; }
  article cite {
    font-style: normal;
    font-weight: bold; }
  article .date {
    font-style: italic;
    font-weight: bold; }

img {
  width: 100%; }
