@font-face {
    font-family: brandonBold;
    src: url(../fonts/brandon-bold.otf);
}

@font-face {
    font-family: house;
    src: url(../fonts/house.ttf);
}

@font-face {
    font-family: chaparral;
    src: url(../fonts/chaparral.otf);
}

@font-face {
    font-family: housecasual;
    src: url(../fonts/housecasual.ttf);
}

body {
	background: #33414F url(images/texture.png);
	background-size: 500px 500px;
	color: #FFF;
	margin: 0;
	padding: 0 0 100px 0;
	font-family: brandonBold;
}

a {
	color: rgba(255,255,255,0.8);
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	&:hover {
		color: #FFF;
		border-bottom: 1px solid #FFF;
	}
}

h1, h2, p, table, ul {
	padding: 0 5%;
	line-height: 1.5;
}

h1 {
	background-size: 500px 500px;
	margin: 0 0 70px 0;
	padding: 140px 0 60px 5%;
	font-family: housecasual;
	position: relative;
	line-height: 1;
	overflow: hidden;
	
	background: #f8d3bb;
	background: -moz-linear-gradient(45deg, #f8d3bb 0%, #e88791 74%, #8b5578 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f8d3bb), color-stop(74%,#e88791), color-stop(100%,#8b5578));
	background: -webkit-linear-gradient(45deg, #f8d3bb 0%,#e88791 74%,#8b5578 100%);
	background: -o-linear-gradient(45deg, #f8d3bb 0%,#e88791 74%,#8b5578 100%);
	background: -ms-linear-gradient(45deg, #f8d3bb 0%,#e88791 74%,#8b5578 100%);
	background: linear-gradient(45deg, #f8d3bb 0%,#e88791 74%,#8b5578 100%);
	
	span.title {
		display: block;
		position: relative;
		z-index: 10;
		font-size: 90px;
		span.invite {
			display: block;
			font-size: 16px;
			opacity: 0.6;
			font-family: brandonBold;
			text-transform: uppercase;
			letter-spacing: 0.3em;
			margin: 0 0 10px 25px;
		}
		span.dumb-s { }
	}

	object {
		position: absolute;
		bottom: 0;
		left: 60%;
		&.palm1 {
			width: 140px;
		}
		&.palm2 {
			width: 100px;
			margin-left: 70px;
		}
	}

}

h2 {
	font-size: 20px;
	font-family: brandonBold;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin: 30px 0 0 0;
	
	.new {
		font-size: 75%;
		background: rgba(97, 255, 5, 0.73);
		padding: 2px 0 2px 5px;
		display: inline-block;
		position: relative;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		top: -2px;
	}
	
}

// h2.promoTitle { display: none; }

.promo {
	
	padding-bottom: 250px;
	
	span.invite { display: none !important; }
	
	h2, p, ul, ol, table { display: none; }
	
	h1 { 
		margin-bottom: 50px;
		padding-bottom: 40px;
		object {
			right: 80px;
			left: auto;
			&.palm2 {
				right: 50px;
			}
		}
	}
	
	h2.promoTitle {
		display: block;
		font-size: 125%;
		span { border-bottom: 1px solid rgba(255,255,255,0.5); }
	}
	
}

@mixin bodyfont {
	font-family: chaparral;
	font-size: 20px;
}

p, ul {
	@include bodyfont;
	margin: 0;
	color: rgba(255,255,255,0.7);
	.secondary { color: rgba(255,255,255,0.4); }
}

table {
	@include bodyfont;
	color: rgba(255,255,255,0.7);
	td:first-child {
		border-right: 1px solid rgba(255,255,255,0.4);
		color: rgba(255,255,255,0.4);
		padding-right: 10px;
	}
	td:last-child {
		padding-left: 10px;
	}
}

ul {
	margin: 0 0 0 20px;
	color: rgba(255,255,255,0.6);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	
	h1 { padding-top: 110px; }
	
	h1 span.title span { margin: 0 0 30px 5px; }
	
	h1 span.title span.invite { margin: 0 0 30px 0; }
	
}
